/*---------Font----------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/*------- Common Style --------- */
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/*------------- Header Style Start
--------------------------------------------------  */
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 144, 14, 0.1); ;
}
.nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 24px;
    margin-right: 60px;
}

.title-text .nav-text{
    font-size:45px;
    font-weight: 700;
    color: #131313;
    margin-top: 24px;
    margin-right: 246px;
}

.nav-ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 37px;
}
.nav-list{
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    text-align: center;
}
.header-box{
    margin-top: 103px;
}
.brand-title{
    margin: 0px;
}
.brand-text{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}
.brand-pra{
    text-align: center;
    color: #727272;
    font-size: 16px;

}
.btn-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-explore{
    width: 180px;
    height: 64px;
    background-color:#FF900E ;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    text-align: center;

}
.banner-img{
    display: flex;
    justify-content: center;
}
.first-img{
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 65px;
}
.first-img img{
        width: 100%;
}
.sponser-text{
    width: 100%;
}
.sponser-header{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 0px;

}
.sponser-pra{
    text-align: center;
    font-size: 16px;
    color: #727272;
}
/*--------------- Header Style End  
----------------------------------------------------*/

/* Main Area Start ------------------------------
------------------------------------------------- */
.main{
    background-color: white;
    padding-top: 50px;
    margin: 0px 130px;
}
.main-area{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.main-header-area{
    background-color: white;
   
}
.main-first-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 130px;
}
.main-first-img{
    width: 330px;
    height: 330px;
    padding: 7px;
}
.main-first-img img{
    width: 100%;
}
.main-second-area{
    padding-left: 50px;
    margin-top: 105px;
    padding-bottom: 16px;
}
.main-second-title-text{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.main-second-tex{
    font-size: 16px;
    color: font-size: 16px;;
}
.btn-main{
    width: 180px;
    background-color:#FF900E ;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    text-align: center; 
    padding: 21px;
}

.blog-area{
    background-color: #FFFFFF;
    margin: 0px 73px;
}
.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.blog-left-tittle{
    border-left: 4px solid #FF900E;
}
.blog-left-text{
    padding-left: 20px;
    font-weight: 700;
    font-size: 45px;
}
.blog-left-para{
    margin-bottom: 37px;
}
.blog-left-header{
    margin: 11px 0px;
}
.blog-left-extra-text{
    margin: 0px;
    padding-bottom: 30px;
}
.blog-right{
    width: 560px;
}
.blog-right img{
    width: 100%;
}
.experience{
    width: 340px;
    background-color: #FF900E;
    padding: 24px 0px;
    width: 293px;
    height: 76px;
    border-radius: 7px;
    right: 70px;
    position: relative;
    bottom: 106px;
}
.experience h2{
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
    
}
.experience p{
     margin: 0px;
     text-align: center;
     color: #FFFFFF;
}
.some-header{
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
    margin: 0px;
}
.some-pra{
  font-size: 16px;
  color: #727272;
}
/* Main Area End ------------------------------
------------------------------------------------- */

/* Article Section Start---------------------
--------------------------------*/
.fact-main-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 117px;
}

.item-box{
    width: 240px ;
    height: 240px;
    border: 1px solid #FF900E;
    margin-top: 100px;
}
.item-box h3{
    margin: 0px;
    text-align: center;
    padding: 5px 0px;
}
.item-box p{
    margin: 0px;
    text-align: center;
}
.item-box-img{
    width: 45px;
    height: 45px;
}
.item-box img{
    margin-left: 99px;
    margin-top: 64px;
    width: 100%;
}
.item-box-text{
    margin-top: 65px;
}
.sponser-pra{
    margin-bottom: 50px;
}
.sponser-list-img{
    width: 165px;
    height: 50px;
}

.sponser-list img{
    width: 100%;
    height: auto;
}
.sponser-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 #amazon-icon{
    margin-top: 10px;
}
#figma-icon{
    margin-top: 10px;
}
/* Article Section End---------------------
--------------------------------*/


/* Footer Area  */
.footer{
    background-color:#FFF4E7;
    width: 100%;
    margin-top: 130px;
    margin-bottom: 200px;
}
.footer-text{
  text-align: center;
  font-size: 20px;
  color: #424242;
  padding: 35px 0px;

}

/*-------------------------- Css Media Queries-------
----------------------------------------------------- */

@media only screen and (max-width: 576px){
    .main{
        margin-left: 0px;
        margin-top: 10px;
    }
    .nav{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin: 0px;
    }    
    .nav-ul{
        display: grid;
        grid-row-gap:7px;
        margin-top: 0px;
        padding-right
    }
    .title-text .nav-text {
        margin-right: 0px;
        text-align: center;
    }
    .header-box{
        margin-top:0px;
        padding: 0px 10px;
}
    .brand-text{
        margin: 10px;
    }
    .banner-img{
        padding: 0px 10px;
    }
    .main-area{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .main-first-area {
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-second-area{
        padding: 11px;
        margin-top: 0px;
    }
    .btn-main{
        margin: 0px 56px;
    }
    .blogs {
        display: grid;
        grid-template-columns: 1fr;
    }
    .blog-area{
        margin: 0px;
    }
    .blog-left{
        margin: 0px 18px;
    }
    .blog-right {
        width: 100%;
        padding-left: 6px;
    }
    .blog-area img{
        width: 97%;
    }

    .experience{
        position: relative;
        top: 3px;
        left: 30px;
    }
    .some-text{
        text-align: center;
    }
    .some-pra{
        margin-bottom: -25px;
    }
    .fact-main-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }
    .sponser-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

